ion-content {
  --padding-start: 1rem;
  --padding-end: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 4rem;

    h1 {
      font-size: 3rem;
      font-weight: 600;
      color: #515151;
      margin: 0;
    }
    
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  .list-header {
    font-weight: 700;
    color: #6b45bc;
    font-size: 2rem;
    margin-bottom: 1.6rem;
    margin-top: 0rem;
  }

  .food-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
